@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-bg: #0f0f0fff;
  --color-gray-secondary: #1a1919ff;
  --color-gray-third: #242323ff;
  --color-gray-hover: #363535ff;
  --color-gray-text: #b3afafff;
  --color-purple-main: #7f20f3ff;
  --color-purple-light: #8d33faff;
  --color-orange-main: #f3b43fff;
  --color-orange-secondary: #f08344ff;
  --color-orange-text: #7c3b10ff;
  --color-green-text: #155a07ff;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
